* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 700;
}

p {
    font-weight: 500;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(43, 0, 112);
}

a:hover {
    color: rgb(236, 236, 236);
}

/* Top Section */

.top-section {
    height: 300px;
    background-color: #5b758a;
    color: rgb(255, 255, 255);
    position: relative;
}

.designation {
    letter-spacing: 0.4rem;
}

.top-section .picture{
    position: absolute;
    top: 20%;
    right: 25px;
}


/* About Section */

.about-section .container {
    display: grid;
    grid-template-areas: "pro-pic"
                        "about-info";
}

.pic {
    grid-area: pro-pic;
}

.pic img {
    width: 300px;
    height: auto;
}

.about-info {
    grid-area: about-info;
}

@media (min-width: 800px) {
    .about-section .container {
        grid-template-areas: "pro-pic about-info";
    }

    .about-info {
        padding-left: 50px;
    }
}

/* Education Section */

.education-section {
    background-color: #5f90b8;
    color: white;
}

.education-section h2 {
    font-weight: 500;
}

th, td {
    border: 1px solid white;
    padding: 5px 20px;
}

@media (max-width: 800px) {
    .optional {
        display: none;
    }
    th, td {
        border: 1px solid white;
        padding: 5px 10px;
    }
}

/* Interest Section */

.certificate-section ul {
    width: min-content;
    list-style: none;
    position: relative;
    left: -20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2em;
    column-gap: 2em;
}

.certificate-item {
    background-color: #252a2e;
    color: white;
    width: 120px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.50);
}

@media (min-width: 800px) {
    .interest-section ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

/* Footer Section */

footer h3 {
    background-color: white;
    color: black;
    font-size: 1.1rem;
    padding: 10px 15px;
}